version: "3"

services: 
  app:
    build: ./app/
    image: med-consultant-api:latest
    env_file:
      - ./app/.env
    volumes:
      - ./app:/app
    depends_on:
      - database
      - rabbitmq
    restart: unless-stopped

  web-proxy:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.1-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - ./rabbitmq/.env
    volumes:
      - rmq_data:/var/lib/rabbitmq
    restart: on-failure
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

  database:
    image: postgres:18.1-alpine
    ports:
      - "5432:5432"
    env_file:
      - ./database/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3

  ollama:
    image: ollama/ollama:0.12.0-rc1
    container_name: ollama
    ports:
      - "22434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  pg_data:
  rmq_data:
  ollama_data:
